@import "normalize.css";
@import "../../scss/mixins";

:root {
    --red: #ff0000;
    --black: #000;
    --white: #fff;
    --text-color: #161823;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1140px;
    --default-layout-horizontal-spacer: 24px;
    --brand-color: #030051;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "ProximaNova", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Fonts emmbeded
// @font-face {
//     font-family: ProximaNova;
//     src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
//     font-weight: 400;
// }

// @font-face {
//     font-family: ProximaNova;
//     src: url('/assets/fonts/ProximaNova-Semibold.woff2');
//     font-weight: 600;
// }

// @font-face {
//     font-family: ProximaNova;
//     src: url('/assets/fonts/Proxima-Nova-Bold.woff');
//     font-weight: 700;
// }

// @font-face {
//     font-family: SofiaPro;
//     src: url('/assets/fonts/sofiapro-bold.woff');
//     font-weight: 700;
// }

// Custom tippy tooltip
body {
    /* Custom style display here */
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include breakpoint-down(xsmall) {
            max-width: 540px;
        }
        @include breakpoint-down(small) {
            max-width: 720px;
        }
        @include breakpoint-down(medium) {
            max-width: 960px;
        }
        @include breakpoint-down(large) {
            max-width: 1140px;
        }
        @include breakpoint-up(xlarge) {
            max-width: 1320px;
        }
    }
}
